{% extends "base.html" %}
{% block content %}

    {% include "partial/form.html" with button_text='Поиск' method='get' %}
    <div class="row">
        {% for user in users %}
            <a href="{% url 'accounts:profile' user.pk %}">
                <div class="col-md-4">
                    <div class="user-card">
                        <img class="user-avatar img-fluid" src="{{ user.avatar.url }}" alt="{{ user.avatar.filename }}">
                        <div class="user-username">{{ user.username }}</div>
                        <div class="user-bio">{{ user.description }}</div>
                    </div>
                </div>
            </a>

        {% endfor %}
    </div>
{% endblock %}